<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <!-- For icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<header>
    <div class="index-container">
        <a th:href="@{/}">
            <img class="logo-index" th:src="@{/images/fog_logo_small.png}" alt="foglogo">
        </a>

        <a th:if="${session.currentUser != null}" th:href="@{/logout}" class="account-button">
            <i class="fas fa-user"></i>
            <span>Log ud</span>
        </a>

    </div>
</header>
<body>
<h1>Admin page</h1>
<div class="object-details">
    <h2>Dine oplysninger: </h2>
    <p><strong>Navn:</strong> <span th:text="${user.fullName}">Fog Fogesen</span></p>
    <p><strong>Email:</strong> <span th:text="${user.email}">admin@fog.com</span></p>
    <p><strong>Rolle:</strong> <span th:text="${user.role}">Admin</span></p>

</div>

<div class="object-details">
    <h2>Ordre oversigt:</h2>

    <!-- Check if order(s) exists - Avoids server error when trying to access page if order == null -->
    <div th:if="${orders != null and !#lists.isEmpty(orders)}">
        <div th:each="order : ${orders}">
            <p><strong>Ordre ID:</strong> <span th:text="${order.orderId}">123</span></p>
            <p><strong>Dato:</strong> <span th:text="${order.timestamp}"></span></p>

            <p><strong>Navn:</strong> <span th:text="${order.user.fullName}"></span></p>
            <p><strong>Email:</strong> <span th:text="${order.user.email}"></span></p>
            <p><strong>Telefon:</strong> <span th:text="${order.user.phoneNumber}"></span></p>
            <p><strong>Adresse:</strong> <span th:text="${order.user.address}"></span></p>
            <p><strong>Postnummer:</strong> <span th:text="${order.user.zipCode}"></span></p>

            <p><strong>Status:</strong> <span th:text="${order.status}">Pending</span></p>
            <p><strong>Carport bredde:</strong> <span th:text="${order.carportWidth}">600</span></p>
            <p><strong>Carport længde:</strong> <span th:text="${order.carportLength}">780</span></p>
            <p><strong>Kostpris:</strong> <span th:text="${order.costPrice}"></span></p>
            <p><strong>Salgspris:</strong> <span th:text="${order.totalSalesPrice}"></span></p>

            <!-- Form and submit button for passing orderId to generate stykliste -->
            <form th:action="@{/orderdetails/{orderId}(orderId=${order.orderId})}" method="get">
                <div class="submit-button">
                    <button type="submit">Se stykliste</button>
                </div>
            </form>
            <br>
            <hr/>

        </div>




    </div>
</body>
</html>