<!DOCTYPE html>
<html lang="en">
<title>Create-user</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
<!-- For icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<header>
    <div class="index-container">
        <a th:href="@{/}">
            <img class="logo-index" th:src="@{/images/fog_logo_small.png}" alt="foglogo">
        </a>

        <a th:href="@{/}" class="account-button">
            <i class="fas fa-house"></i>
            <span>Hjem</span>
        </a>

        <a th:if="${session.currentUser == null}" th:href="@{/login}" class="account-button">
            <i class="fas fa-user"></i>
            <span>Log ind</span>
        </a>

    </div>
</header>

<body class="background-color">
<div class="page-container">
    <header>
        <br>
        <a href="login.html" th:href="@{/login}">
            <img class="logo" src="/public/images/fog_logo_small.png"
                 th:src="@{/images/fog_logo_small.png}" alt="fog-logo">
        </a>
        <br>
        <br>
    </header>

    <form class="generic-form" method="post">
        <label>
            <input type="email" name="email" placeholder="Indtast email" required/>
        </label>
        <label>
            <input type="password" name="password1" placeholder="Indtast kodeord" required/>
        </label>
        <label>
            <input type="password" name="password2" placeholder="Gentag kodeord" required/>
        </label>

        <h4>Kontaktoplysninger:</h4>
        <label>
            <input type="text" name="fullName" placeholder="Fornavn og efternavn" required>
        </label>
        <label>
            <input type="text" name="homeAddress" placeholder="Adresse (vej + nummer)" required>
        </label>
        <label>
            <input type="text" name="zipCode" placeholder="Postnummer" required>
        </label>
        <label>
            <input type="text" name="phone" placeholder="Telefon nummer" required>
        </label>
        <div class="checkbox-consent">
            <label>
                <input type="checkbox" required>
                Fog må benytte dine afgivne oplysninger til at kontakte mig i forbindelse med tilbud på QuickByg carport
            </label>
        </div>
        <button type="submit" formaction="/createuser">Opret bruger</button>
        <div><p class="error" th:unless="${#strings.isEmpty(message)}" th:text="${message}"></p></div>
    </form>

</div>
</body>
</html>