<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>User page</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
  <!-- For icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<header>
  <div class="index-container">
    <a th:href="@{/}">
      <img class="logo-index" th:src="@{/images/fog_logo_small.png}" alt="foglogo">
    </a>

    <a th:if="${session.currentUser != null}" th:href="@{/logout}" class="account-button">
      <i class="fas fa-user"></i>
      <span>Log ud</span>
    </a>

    <span th:if="${session.email != null}" th:text="${session.email}" class="email-address"></span>

  </div>
</header>

<body>
<h1>Customer page</h1>


</body>
</html>