<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>User page</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
  <!-- For icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<header>
  <div class="index-container">
    <a th:href="@{/}">
      <img class="logo-index" th:src="@{/images/fog_logo_small.png}" alt="foglogo">
    </a>

    <a th:if="${session.currentUser != null}" th:href="@{/logout}" class="account-button">
      <i class="fas fa-user"></i>
      <span>Log ud</span>
    </a>

  </div>
</header>

<body>
<h1>Customer page</h1>

<div class="object-details">
  <h2>Dine oplysninger: </h2>
  <p><strong>Navn:</strong> <span th:text="${user.fullName}">Fog Fogesen</span></p>
  <p><strong>Email:</strong> <span th:text="${user.email}">kunde@fog.com</span></p>
  <p><strong>Telefon:</strong> <span th:text="${user.phoneNumber}">42424242</span></p>
  <p><strong>Adresse:</strong> <span th:text="${user.address}">Fogsens Allé</span></p>
  <p><strong>Postnummer:</strong> <span th:text="${user.zipCode}">2300</span></p>
</div>

<div class="object-details">
  <h2>Dine ordreoplysninger:</h2>

  <!-- Check if order(s) exists - Avoids server error when trying to access page if order == null -->
  <div th:if="${orders != null and !#lists.isEmpty(orders)}">
    <div th:each="order : ${orders}">
      <p><strong>Ordre ID:</strong> <span th:text="${order.orderId}">123</span></p>
      <p><strong>Dato:</strong> <span th:text="${order.timestamp}"></span></p>
      <p><strong>Status:</strong> <span th:text="${order.status}">Pending</span></p>
      <p><strong>Carport bredde:</strong> <span th:text="${order.carportWidth}">600</span></p>
      <p><strong>Carport længde:</strong> <span th:text="${order.carportLength}">780</span></p>
      <p th:if="${order.status.toString() != 'pending'}">
        <strong>Salgspris:</strong> <span th:text="${order.totalSalesPrice}"></span>
      </p>
      <br>
      <hr/>
    </div>
  </div>

  <!-- If true, displays msg in orderdetails container -->
  <div th:if="${orders == null or #lists.isEmpty(orders)}">
    <p>Ingen ordre fundet.</p>
  </div>
</div>




</body>
</html>