<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Configurator</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <!-- For icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body class="background-color">

<header>
    <div class="index-container">
        <!-- If the user is logged in, go to index -->
        <a th:if="${session.currentUser != null}" th:href="@{/}">
            <img class="logo-index" th:src="@{/images/fog_logo_small.png}" alt="foglogo">
        </a>

        <!-- If the user is not logged in, go to login -->
        <a th:unless="${session.currentUser != null}" th:href="@{/login}">
            <img class="logo-index" th:src="@{/images/fog_logo_small.png}" alt="foglogo">
        </a>

        <a th:if="${session.currentUser == null}" th:href="@{/login}" class="account-button">
            <i class="fas fa-user"></i>
            <span>Fog Konto</span>
        </a>

        <a th:if="${session.currentUser != null}" th:href="@{/account}" class="account-button">
            <i class="fas fa-user"></i>
            <span>Fog Konto</span>
        </a>

        <a th:if="${session.currentUser != null}" th:href="@{/logout}">
            <button>Log ud</button>
        </a>

    </div>
</header>

<h1>Index / Carport configuration page</h1>

<!-- Form for displaying carport based on user input -->
<div class="formular-container">
    <form action="/svg" method="get">
        <label for="Længde">Længde:</label>
        <select name="Længde" class="formular-dropDown" required>
            <option value="" disabled selected>Vælg længde</option>
            <option th:value="${length}" th:each="length : ${carportLength}" th:text="${length}"></option>
        </select>

        <label for="Bredde">Bredde:</label>
        <select name="Bredde" class="formular-dropDown" required>
            <option value="" disabled selected>Vælg bredde</option>
            <option th:each="width : ${carportWidth}" th:if="${width != null and width != 0}" th:text="${width}"></option>
        </select>

        <!-- Submit button for the svg -->
        <div class="submit-button">
            <button type="submit">Generer tegning</button>
        </div>
    </form>
</div>


<!-- kontakt formular starter -->
<div class="formular-container">
    <div th:if="${param.success}" style="color: green; margin-bottom: 15px; font-weight: bold;">
        Din forespørgsel er modtaget. Tak!
    </div>

    <form action="/add-customer-request" method="post" th:action="@{/add-customer-request}">
        <label for="Længde">Længde:</label>
        <select name="Længde" id="Længde" class="formular-dropDown" required>
            <option value="" disabled selected>Vælg længde</option>
            <option th:value="${length}" th:each="length : ${carportLength}" th:text="${length}"></option>
        </select>

        <label for="Bredde">Bredde:</label>
        <select name="Bredde" id="Bredde" class="formular-dropDown" required>
            <option value="" disabled selected>Vælg bredde</option>
            <option th:each="width : ${carportWidth}" th:if="${width != null and width != 0}" th:text="${width}"></option>
        </select>

        <!--
        <h3>Redskabsrum:</h3>
        <p>NB! Der skal beregnes 15 cm tagudhæng på hver side af redskabsrummet*</p>

        <label for="Redskabsrum Bredde">Redskabsrum Bredde:</label>
        <select name="Redskabsrum Bredde" id="Redskabsrum Bredde" class="formular-dropDown" required>
            <option value="" disabled selected>Vælg bredde</option>
            <option th:each="shedWidth : ${shedWidths}" th:value="${shedWidth}" th:text="${shedWidth}"></option>
        </select>

        <label for="Redskabsrum Længde">Redskabsrum Længde:</label>
        <select name="Redskabsrum Længde" id="Redskabsrum Længde" class="formular-dropDown" required>
            <option value="" disabled selected>Vælg længde</option>
            <option th:each="shedLength : ${shedLengths}" th:value="${shedLength}" th:text="${shedLength}"></option>
        </select>
        -->

        <h5>Kontaktoplysninger:</h5>
        <input type="text" name="Navn" placeholder="Fornavn og efternavn" required>
        <br>
        <input type="text" name="Adresse" placeholder="Adresse (vej + nummer)" required>
        <br>
        <input type="text" name="Telefon" placeholder="Telefon nummer" required>
        <br>
        <input type="email" name="Email" placeholder="Din email adresse" required>
        <br>

        <div class="checkbox-consent">
            <label>
                <input type="checkbox" required>
                Fog må benytte dine afgivne oplysninger til at kontakte mig i forbindelse med tilbud på QuickByg carport
            </label>
        </div>

        <div class="submit-button">
            <!-- TODO: lav så der kommer en besked til brugeren på siden at deres forespørgsel er blevet sendt -->
            <button type="submit">Bestil tilbud</button>
        </div>
    </form>
</div>

</body>
</html>
