<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Configurator</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <!-- For icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body class="background-color">

<p></p>

<header>
    <div class="navigation-bar">
        <!-- If the user is logged in, go to index -->
        <a th:if="${session.currentUser != null}" th:href="@{/}">
            <img class="logo-index" th:src="@{/images/fog_logo_small.png}" alt="foglogo">
        </a>

        <!-- If the user is not logged in, go to login -->
        <a th:unless="${session.currentUser != null}" th:href="@{/login}">
            <img class="logo-index" th:src="@{/images/fog_logo_small.png}" alt="foglogo">
        </a>

        <a th:if="${session.currentUser == null}" th:href="@{/login}" class="icon-button">
            <i class="fas fa-user"></i>
            <span>Log ind</span>
        </a>


        <a th:if="${session.currentUser == null}" th:href="@{/createuser}" class="icon-button">
            <i class="fas fa-user-plus"></i>
            <span>Opret bruger</span>
        </a>

        <a th:if="${session.role == 'admin'}" th:href="@{/admin}" class="icon-button">
            <i class="fas fa-clipboard-list"></i>
            <span>Ordreoversigt</span>
        </a>

        <a th:if="${session.role == 'customer'}" th:href="@{/customer}" class="icon-button">
            <i class="fas fa-user"></i>
            <span>Fog Konto</span>
        </a>

        <a th:if="${session.currentUser != null}" th:href="@{/logout}" class="icon-button">
            <i class="fas fa-right-from-bracket"></i>
            <span>Log ud</span>
        </a>

        <span th:if="${session.email != null}" th:text="${session.email}" class="email-address"></span>


    </div>
</header>

<div class="h2-index">
    <h2>Bestil Quick-Byg tilbud - carport med fladt tag</h2>
</div>

<div th:if="${errorMessage}" style="color: red;">
    <p th:text="${errorMessage}"></p>
</div>

<div class="form-description-wrapper">
    <p class="form-description">Udfyld nedenstående formular med dine ønsket længder og bredder til din skæddersyet
        carport.</p>
    <p class="form-description">For vi kan kontakte dig, og yde den bedste service beder vi dig oprette en fog konto.</p>
    <p class="form-description">Tilbud og skitsetegning lægges på din fog konto hurtigst muligt af vores professionelle
        sælger. </p>
    <p class="form-description"> Du kan også genere en skitse inden du trykker bestil tilbud.</p>
</div>
<!-- Form for displaying carport based on user input -->
<div class="formular-container">
    <form action="/svg" method="post">
        <label for="Længde">Længde:</label>
        <label>
            <select name="Længde" class="formular-dropDown" required>
                <option value="" disabled selected>Vælg længde</option>
                <option th:value="${length}" th:each="length : ${carportLength}" th:text="${length}"></option>
            </select>
        </label>

        <label for="Bredde">Bredde:</label>
        <label>
            <select name="Bredde" class="formular-dropDown" required>
                <option value="" disabled selected>Vælg bredde</option>
                <option th:each="width : ${carportWidth}" th:if="${width != null and width != 0}" th:value="${width}"
                        th:text="${width}"></option>
            </select>
        </label>

        <!-- Submit button for the svg -->
        <div class="submit-button">
            <button type="submit">Generer tegning</button>
        </div>
    </form>

</div>


<!-- kontakt formular starter -->
<div class="formular-container">
    <div th:if="${param.success}" style="color: green; margin-bottom: 15px; font-weight: bold;">
        Din forespørgsel er modtaget. Tak!
    </div>

    <form action="/add-customer-request" method="post" th:action="@{/add-customer-request}">
        <label for="Længde">Længde:</label>
        <select name="Længde" id="Længde" class="formular-dropDown" required>
            <option value="" disabled selected>Vælg længde</option>
            <option th:value="${length}" th:each="length : ${carportLength}" th:text="${length}"></option>
        </select>

        <label for="Bredde">Bredde:</label>
        <select name="Bredde" id="Bredde" class="formular-dropDown" required>
            <option value="" disabled selected>Vælg bredde</option>
            <option th:each="width : ${carportWidth}" th:if="${width != null and width != 0}"
                    th:text="${width}"></option>
        </select>

        <!--
        <h3>Redskabsrum:</h3>
        <p>NB! Der skal beregnes 15 cm tagudhæng på hver side af redskabsrummet*</p>

        <label for="Redskabsrum Bredde">Redskabsrum Bredde:</label>
        <select name="Redskabsrum Bredde" id="Redskabsrum Bredde" class="formular-dropDown" required>
            <option value="" disabled selected>Vælg bredde</option>
            <option th:each="shedWidth : ${shedWidths}" th:value="${shedWidth}" th:text="${shedWidth}"></option>
        </select>

        <label for="Redskabsrum Længde">Redskabsrum Længde:</label>
        <select name="Redskabsrum Længde" id="Redskabsrum Længde" class="formular-dropDown" required>
            <option value="" disabled selected>Vælg længde</option>
            <option th:each="shedLength : ${shedLengths}" th:value="${shedLength}" th:text="${shedLength}"></option>
        </select>
        -->

        <div class="submit-button">
            <button type="submit">Bestil tilbud</button>
        </div>
    </form>
</div>

</body>
<footer class="index-site-footer">
    <a href="https://www.johannesfog.dk/om-fog/forretninger/kontakt" class="footer-button" target="_blank"
       rel="noopener">
        Kontakt
    </a>
</footer>
</html>
