<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
    <title>Carport-login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <!-- For icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<header>
    <div class="toolbar">
        <a th:href="@{/}">
            <img class="logo-index" th:src="@{/images/fog_logo_small.png}" alt="foglogo">
        </a>

        <a th:href="@{/}" class="account-button">
            <i class="fas fa-house"></i>
            <span>Hjem</span>
        </a>

        <a th:if="${session.currentUser == null}" th:href="@{/createuser}" class="account-button">
            <i class="fas fa-user-plus"></i>
            <span>Opret bruger</span>
        </a>

    </div>
</header>


<body class="background-color">
<div class="page-container">
    <header class="header">
        <a href="login.html" th:href="@{/login}">
            <img class="logo" src="/public/images/fog_logo_small.png"
                 th:src="@{/images/fog_logo_small.png}" alt="fog_logo">
        </a>
    </header>

    <form class="generic-form" method="post" action="/login">
        <input type="email" name="email" placeholder="Indtast email" required />
        <input type="password" name="password" placeholder="Indtast adgangskode" required />
        <button type="submit" class="rounded-btn">Log ind</button>
        <div th:if="${errorMessage}" style="color: red;">
            <p th:text="${errorMessage}"></p>
        </div>
    </form>

</div>

</body>

</html>
