<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SVG</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <!-- For icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<header>
    <div class="index-container">
        <a th:href="@{/}">
            <img class="logo-index" th:src="@{/images/fog_logo_small.png}" alt="foglogo">
        </a>

        <a th:href="@{/}" class="account-button">
            <i class="fas fa-house"></i>
            <span>Hjem</span>
        </a>

        <a th:if="${session.role == 'admin'}" th:href="@{/admin}" class="account-button">
            <i class="fas fa-clipboard-list"></i>
            <span>Ordreoversigt</span>
        </a>

        <a th:if="${session.role == 'customer'}" th:href="@{/customer}" class="account-button">
            <i class="fas fa-user"></i>
            <span>Fog Konto</span>
        </a>

        <a th:if="${session.currentUser != null}" th:href="@{/logout}" class="account-button">
            <i class="fas fa-right-from-bracket"></i>
            <span>Log ud</span>
        </a>


    </div>
</header>

<body>

    <div class="carport-svg-topview">
        <div th:utext="${svg}"></div>
    </div>

</body>

</html>