<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">
<title>Carport SVG</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>

<body>

    <div class="carport-svg-topview">
        <div th:utext="${svg}"></div>
    </div>

    <div class="carport-svg-topview">
        <div th:utext="${svg2}"></div>
    </div>

    <div class="carport-svg-topview">
        <div th:utext="${svg3}"></div>
    </div>

</body>

</html>